<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :upload_date %><br />
    <%= f.date_select :upload_date %>
  </div>
  <div class="field">
    <%= f.label :storage_vendor %><br />
    <%= f.number_field :storage_vendor %>
  </div>
  <div class="field">
    <%= f.label :storage_path %><br />
    <%= f.text_field :storage_path %>
  </div>
  <div class="field">
    <%= f.label :photo_path %><br />
    <%= f.text_field :photo_path %>
  </div>
  <div class="field">
    <%= f.label :month %><br />
    <%= f.date_select :month %>
  </div>
  <div class="field">
    <%= f.label :is_best_year_photo %><br />
    <%= f.check_box :is_best_year_photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
