<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>LifeReco</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body >

	<div class="container">
		<div class="raw">
			<div class="span4">
				<%= link_to image_tag("logo_lifereco_alpha1600x500.png"), :controller => "home", :action => "index" %>
		</div>
		<div class="span5">
		</div>
		</div>
		<div class="row-fluid">
			<div class="span12 hero-unit">
			<%= yield %>
			</div>
	</div>
</body>
</html>
